<div style="height: 100%; padding:18px 20px;">
    <% begin; current_city = @data[0]; rescue Exception; current_city = nil; end %>
    <% begin; air_quality = @data[1]["DailyForecasts"][0]["AirAndPollen"][0]["Category"]; rescue Exception; air_quality = nil; end %>
    <%= link_to raw("<div class = 'fox-box-logo'></div>"), "http://www.breathebayarea.org" %> 
    <div style="float: left;padding-left: 1px; color: white;">
        <div style="font-family: 'Open Sans', sans-serif; font-size: 28px"><%= current_city || "Current City"%></div>
        <div style="font-family: 'Open Sans', sans-serif; font-size: 20px">Air quality: <%= air_quality %></div>
    </div>
</div>