
// #map-container {
//    height: 400px;
//    border-radius: 16px 16px;
//    border-color: #fff;
//    border-style: solid;
//    box-shadow: 2px 2px 10px #B1B1B1;
//    margin-top: 25px;
//    border-width: 7px;
//  }
//  #map-canvas {
//    height: 384px;
//    width: 100%;
//  }

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

@media screen and (min-width: 1500px) {
    #containsAll {
        width: 111%;
    }
}



#map {
  height: 50%;
  width: 50%;
  // z-index: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;
.welcome {
  font-family: 'Open Sans', sans-serif; 
  float:center;
  position:relative;
}

#spare_alert {
  position:relative;
  font-weight:bold;
  color: white;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#alert {
  position:relative;
  left:-29px;
  
}
#left {
  float:left;
  overflow:hidden;
  position:relative;
  top:-10px;
  left:-10px;
}

#center {
  float:right;
  overflow:hidden;
  position:relative;
  left:-110px;
  top:-9px;

}

#right {
  float:right;
  overflow:hidden;
  position:relative;
  top:-9px;

}

#remove {
  content: "add as a favorite city";
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: -2px;
  // text-indent: 5px;
  // padding: 0 11px 0 0px;
  text-overflow: ellipsis;
  width: 300px;
  height: 29px;
  opacity: 0.95;
  // z-index: 1000;
  left: 113px !important;
}

#pac-input:focus {
  border-color: white;
  opacity: 1;
  left: 113px !important;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.breathe_icon {
    position: absolute;
    left: 12px;
    width: 110px;
    top: 8px;
}

#navigation_cities {
  position:relative;
  left:120px;

}
.image_tag_mobile {
  position: absolute; width: 15px; height: 15px; margin-left: 10px; margin-top: 1px;
}
.allergen_name_mobile {
  font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; color: #989898;
}
.allergen_status_mobile {
  float: right; width: 14px; height: 14px; border-radius: 7px;
}
.allergen_value_mobile {
  float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; color: #989898;
}
#left-col {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.09), 0 2px 0 rgba(0,0,0,0.1);
}

.gmail_icon {
  width: 40px;
  height: 40px;
  // border-radius: 50%;
}



button[id="search-button"] {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-left: -31px;
  padding: 0 11px 0 0px;
  text-overflow: ellipsis;
  width: 30px;
  height: 29px;
  opacity: 0.5;
  left: 411px !important;
}

button[id="search-button"]:hover {
  opacity: 0.9;
  left: 411px !important;
}

button[id="clean-air-button"] {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-left: 48px;
  margin-top: 10px;
  padding: 0 11px 0 0px;
  text-overflow: ellipsis;
  width: 130px;
  height: 29px;
  opacity: 0.75;
  left: 411px !important;
}

button[id="clean-air"]:hover {
  opacity: 0.9;
  left: 411px !important;
}

button[id="find-my-location"] {
  border-color: transparent;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 300;
  padding: 1 11px 0 0px;
  text-overflow: ellipsis;
  width: 30px;
  height: 29px;
  outline: none; // this one
  left: 410px !important;
}

button[id="find-my-location"]:hover {
  left: 410px !important;
}



#loc-img {
  margin-left: -8px;
  margin-top: -4px;  
  opacity: 0.5;
}

#loc-img:hover {
  margin-left: -8px;
  margin-top: -4px;  
  opacity: 0.8;
}

#marker-cta {
  border-bottom-color: transparent;
  background-color: white;
  box-shadow: none;
  color: #3672B2;
  // font-family: Roboto;
  // font-size: 14px;
  // font-weight: 600;
  // padding: 0 0px 0 0px;
  text-overflow: ellipsis;
  width: 60px;
  height: 40px;
}

#marker-cta:hover {
    text-decoration: underline;
    color : #3B3E80 !important;
}

#marker-cta-mobile {
  background-color: #5299a4;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 240px;
  color: white;

}
#wrap {
  
}

#left_col {
  float:left;
  width:90px;
}

#right_col {
  float:right;
  width:90px;
}
.about-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px
}
.about-text {
  font-weight: 400;
  font-size: 14px;  
}
.about-image {
  width: 100%;
}
.about-image-sm {
  width: 70px;
}
.about-row {
  margin-top: 10px;
}
.about-row-mobile {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #eee;
}
.about-image-sm-mobile {
  width: 60px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.center-col {
  text-align: center;
}

#log-in {
    background-color: #4387fd; /* Blue */
    border: none;
    color: white;
    margin-right: 12px;
    margin-top: 12px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    
}

#profile-icon {
  	border-radius: 50%;
	  width: 40px;
	  height: 40px; 
    margin-right: 32px;
    margin-top: 10px;
}

.button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24),0 10px 16px 0 rgba(0,0,0,0.19);
}


.img-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px; 

}
#profile-icon:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius:4px;
    border:1px;
    width: 100%;
}

.dropdown-content a {
  
    background-color: white;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #1DA1F2;
  color: white;
}


.drop-allign {
    margin-right: 5px;
    margin-top: 8px;
}

#profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #512DA8;
  text-align: center;
  color: white;
  font-size: 20px;

  line-height: 1;
  padding-top: 10px;
}

#profile-image:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#profile-image-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #512DA8;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 2;
  padding-top: 1px;
  
  margin-top: 5px;
  margin-left: 5px;
  
}

.profile-custom-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;

}

#user-name-header {
  margin-left: 25px;
  margin-top: 5px;
  z-index: 1;
  font-size: 18px;
  padding-left: 55px;
  padding-top: 12px;
  position: fixed;

}

.arrow-up {
  display: none;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
  position: fixed;
}

#spacing {
  padding-top: 5px;
}

.dropdown-sub-title {
  font-size: 14px;
}

.dropdown-sub-title-settings {
  font-size: 14px;
  color: #36c;
  // margin-left: 5px;
  padding: 12px 5px;
  background-color: white;
}

.dropdown-sub-title-content{
  font-size: 14px;
  margin-left: 5px;
  padding: 12px 20px;
}

.dropdown-sub-title-collapse{
  font-size: 14px;
  margin-left: 0px;
}

.dropdown-sub-title-update{
  display: none;
  color: #36c;
  font-size: 14px;
  padding: 12px 10px;
  font-weight: bold;
  font-style: italic;
}

#fox-box {
  background: #1DA1F2;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); /* Standard syntax */
}

.marker-backdrop {
  background-color: blue;
  opacity: 0.5;
}

#input-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  padding-left: 18px;
  
}

.text-box {
  width: 100px;

}

input[type="submit"]{
    /* change these properties to whatever you want */
    background-color: grey;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 20%;
    position: right;
   margin-right: 10px;
  // margin-bottom: 20px;
}
input[type="text"]{
  // margin-left: 5px;
   margin-bottom: 0px;
}

.marker-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  width: 75px;
 
}
.edit-delete {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;

  border: none;
  position: absolute;
  background-color: transparent;
  text-align: center;
  width: 85%;
  max-height: 20px;
  margin:0;
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden !important;
    white-space: nowrap;
}


#marker-bubble {
  max-height: 45px;
}

.delete-btn {
  background: url('/assets/trash.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: none;
}
.remove-btn {
  background: url('/assets/trash_icon.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 32px;
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}
.delete-pos{
 // padding-bottom: 100px;
   padding-left: 13%;
   padding-top: 1px;
}

.edit-btn {
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
  padding-top: 1px;
  height: 20px;
  line-height: 15px;
}

.edit-pos {
  padding-top: 1px;
}
.edit-pos, .delete-pos{
  float:left;
}



.onoffswitch {
    position: relative; width: 128px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 10px !important;
    margin-left: 10px !important;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid white; border-radius: 0px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    height: 29px !important;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    height: 33px !important;
    opacity: 0.95;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 29px; padding: 0; line-height: 25px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid white;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Show Air Quality";
    padding-left: 4px;
    background-color: #FFFFFF; color: #999999;
}
.onoffswitch-inner:after {
    content: "Hide Air Quality";
    padding-right: 8px;
    background-color: #FFFFFF; color: #7B68EE;
    text-align: right;
}


.onoffswitch-switch {
    display: block; width: 17px; margin: 0px;
    background: #7B68EE;
    position: absolute; top: 0; bottom: 0;
    right: 111px;
    transition: all 0.3s ease-in 0s; 
    height : 29px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #999999; 
    height : 29px;
}


.favCity:hover {
  text-decoration: underline;
  cursor: pointer;
  color : #3B3E80 !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 23px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-btn {
  background-color: transparent;
  
  color: #4387fd;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #4387fd;
  padding-top: 1px;
  height: 20px;
  
}

.settings-btn:hover {
  background-color: #4387fd;
  opacity: 0.8;
  color: white;
  border: solid;


  border-radius: 5px;
  border-width: 1px;
  border-color: #36c;
  padding-top: 1px;
  height: 20px;

}

#location-icon {
  float: left;
  background: url('/assets/location.svg');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  height: 20px;
  width: 30px;
}

#email-icon {
  float: left;
  background: url('/assets/mail.svg');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  height: 20px;
  width: 30px;
}

#language-icon {
  float: left;
  background: url('/assets/language.svg');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  height: 20px;
  width: 30px;
}



.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}


#searchTrans {
  font-size:16px;
  left: 30px !important;

  
}



#google_translate_element {
  font-family: Roboto;
  font-weight: 100;
  padding: 0 0px 0px 15px;
  text-overflow: ellipsis;
  width: 15px;
  height: 40px;
  top: 5px !important;
  text-align: center;
  left: 60px !important;
}


.goog-te-banner-frame.skiptranslate { 
  display: none !important;
  
} 
body { 
  top: 0px !important; 
  
}
#goog-gt-tt{
  display: none !important; 
  top: 0px !important; 
  
} 
.goog-tooltip skiptranslate{
  display: none !important;
  top: 0px !important; 
  
} 
.activity-root { 
  display: hide !important;
  
} 
.status-message { 
  display: hide !important;
  
}
.started-activity-container { 
  display: hide !important;
  
}

.goog-logo-link {
   display:none !important;
}
.goog-te-gadget{
   color: transparent !important;
}
.goog-te-gadget .goog-te-combo{
  color: black !important;
  font-family: Roboto;
  font-size: 15px;
}







